
<mat-dialog-content style="min-width: 600px">
  <form #SignupForm="ngForm" >
    <div class="d-flex align-items-center m-b-16">
     
      <h2>Add Task</h2>
    </div>
    <div class="row">
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <input
            type="text"
            matInput
            required
            name="title"
            id="title"
            placeholder="Enter title"
            [(ngModel)]="formData.title"
            
            #title="ngModel"
            />
            <mat-error *ngIf="title.invalid && title.touched">title is required</mat-error>
        </mat-form-field>
      </div>
      
      
      
      <div class="col-lg-6">
        <mat-form-field appearance="outline" class="w-100">
          <input
          type="text"
          matInput
          required
          id="description"
          name="description"
          [(ngModel)]="formData.description" 
          placeholder="Enter description"
          #description="ngModel"
          />
          <mat-error *ngIf="description.invalid && description.touched">description is required</mat-error>
        </mat-form-field>
      </div>
      
    
      
      
    </div>
    <button
      mat-flat-button
      (click)="AddClub(SignupForm)"
      mat-flat-button
      color="primary"
      [disabled]="!SignupForm.valid || !formData.title || !formData.description "
  
    >
      Create
    </button>
    <button
      mat-stroked-button
      color="warn"
      class="m-l-8"
      (click)="closeDialog()"
    >
      Cancel
    </button>
  </form>
</mat-dialog-content>


